
@import url(http://fonts.googleapis.com/earlyaccess/laomuangdon.css);

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

#app-header {
    background:transparent url(../images/camemis_default.png) no-repeat 5px 2px;
}

#app-header p.school-name{
    color: #596F8F;
    font-size: 18px;
    font-weight: 200;
    padding: 10px 3px;
    text-shadow: 0 1px 0 #fff;
    float:right;    
}

span.textBold{
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
span.textBoldBlue{
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color:#061f83;
}
span.textBoldBlue14{
    font:bold 14px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

h1.header{
    font:bold 15px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color:#555;
}
h1.installHeader{
    font:bold 18px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';

}
h2.installSubHeader{
    font:bold 14px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';

}
h1.headerError{
    font:bold 16px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color:#CC0000;
}
h1.modulName{
    font:bold 9px  'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color:#FFFFFF;
    text-align: right;
}
h1.schoolName{
    font:bold 14px  'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color:#FFFFFF;
    text-align: right;
}
h1.camemis{
    font:bold 15px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color:#FFFFFF;
    text-align: left;
}
p.header{
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';

}
h1.content{
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';

}
textarea{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    border: 1px solid #D0D0BF;
}
table.show{
    /*
    border-collapse:separate;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    */
}
th.header{
    font:bold 12px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color: #333333;
    border-bottom: 1px solid #AAAAAA;
    padding: 5px;
}

th.show{
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color: #333333;
    border-bottom: 1px solid #AAAAAA;
    padding: 5px;
}
td.show{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color: #333333;
    padding: 5px;
}

th.showReportItemNumber{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    font-weight: bold;
    color: #333333;
    padding: 5px;
    width: 40px;
    border:1px solid #C3D0DF;background:#EEEEEE;
}

th.showReportItem{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    font-weight: bold;
    color: #333333;
    padding: 5px;
    width: 150px;
    border:1px solid #C3D0DF;background:#EEEEEE;
}

td.showReportItemNumber{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    font-weight: normal;
    color: #333333;
    padding: 5px;
    width: 40px;
    border:1px solid #C3D0DF;background:#FFFFFF;
}

td.showReportItem{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    font-weight: normal;
    color: #333333;
    padding: 5px;
    width: 150px;
    border:1px solid #C3D0DF;background:#FFFFFF;
}

td.fieldBold{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    font-weight: bold;
    color: #333333;
    padding: 5px;
}
td.fieldNormal{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color: #333333;
    padding: 5px;
}

td.tdBold{
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color: #333333;
    padding: 5px;
}
td.tdNormal{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color: #333333;
    padding: 5px;
}
.textNormal {
    font:normal 11px  'Helvetica','verdana','arial','sans-serif','KoPub Batang';

}
ul.list{
    /*
        margin-left:20px;
        margin-top:20px;
        margin-bottom:20px;
        margin-right:0px;
    */
    list-style:square;
}
input.show-btn{
    font:normal 11px  'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    padding: 5px;
}
.header .x-panel-body{
    font:normal 11px  'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.disabled2{
    cursor:default;
    color: #333333;
    opacity:.6;
    -moz-opacity:.6;
    filter:alpha(opacity=60);
}

label.x-form-item-label{
    font-weight:normal;
}
.x-form-item label{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    text-decoration:none;
}
.x-grid3-row td,.x-grid3-summary-row td{
    font:normal 11px  'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.x-tree-node{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.x-grid3-hd-row td{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.ux-grid3-dirty-row {
    background:#ffffa8;
}
.ux-grid3-new-row {
    background:#c8ffc8;
}
.x-panel-header-text {
    text-decoration:none;
    font:normal 11px  'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.details-panel .x-panel-body{
    padding: 11px;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

h1.details {padding: 11px;color: #333333;font-size: 16px;font-weight:bold;}
h2.details {padding: 11px;color: #333333;font-size: 14px;font-weight:bold;}

p.details {padding: 11px;}

#custumer-logo .x-plain-body {
    background-image:url(../images/custumer_logo.gif) !important;
    background-repeat: no-repeat;
    height: 84px;
    background-color:#99BBE8;
    background-position: left;
}

.scheduleTime{
    color: #CC0000;
    padding: 11px;
    height: 40px;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.line {
    clear: both;
    padding: 2px 0px;
}

.clean-header{
    border:1px dotted #333333;
    background:#EEEEEE;
    padding-left:11px;
    padding-right:11px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:left;
    color: #333333;
    font-weight:bold;
    font-size : 11px;
}
.clean-items{
    border-left: 1px dotted #333333;
    border-right: 1px dotted #333333;
    padding: 11px;
    color: #333333;
    background:#FFFFFF;
    margin-top: 0px;
}
.clean-line{
    border-top: 1px dotted #333333;
    padding-right: 11px;
    padding-left: 11px;
}

#ID_1 .x-panel-body {background:#F7F7F7;}
/*

#ID_1 .x-panel-header-text {}
#ID_2 .x-panel-body {background:#F7F7F7;}
#ID_2 .x-panel-header-text {}
#ID_3 .x-panel-body {background:#F7F7F7;}
#ID_3 .x-panel-header-text {}
*/

/*
.x-panel-body {background-color:#FFFFFF;}
*/
.x-panel-header-text {font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';}
.x-btn-text{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.x-grid3-header {
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.x-grid3-cell-inner{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.x-tree-node {
    font:'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.x-tab-strip span.x-tab-strip-text {
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-toolbar .x-btn button{
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.combo-result-item {
    padding :  2px;
    border  : 1px solid #FFFFFF;
}

.nodeTextBold .x-tree-node-anchor SPAN {
    color : #333333 !important;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.nodeTextThrough .x-tree-node-anchor SPAN {
    color : #333333 !important;
    text-decoration: line-through;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.nodeText .x-tree-node-anchor SPAN {
    color : #333333 !important;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.nodeTextRed .x-tree-node-anchor SPAN {
    color : #CC0000 !important;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.nodeTextRedBold .x-tree-node-anchor SPAN {
    color : #CC0000 !important;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.nodeTextBlue .x-tree-node-anchor SPAN {
    color : #061f83 !important;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.nodeTextBoldBlue .x-tree-node-anchor SPAN {
    color : #061f83 !important;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.nodeFolderBold .x-tree-node-anchor SPAN {
    color : #333333 !important;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.nodeFolder .x-tree-node-anchor SPAN {
    color : #333333 !important;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.nodeCampus .x-tree-node-anchor SPAN {
    color : #31005A !important;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.nodeGrade .x-tree-node-anchor SPAN {
    color : #333333 !important;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.nodeSchoolyear .x-tree-node-anchor SPAN {
    color : #31005A !important;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.nodeClass .x-tree-node-anchor SPAN {
    color : #1861A5 !important;
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.disabled .x-tree-node-anchor SPAN {
    color : #CC0000 !important;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.enabled .x-tree-node-anchor SPAN {
    color : #333333 !important;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.disabled .x-tree-node-anchor SPAN {
    color : #CC0000 !important;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.enabled .x-tree-node-anchor SPAN {
    color : #333333 !important;
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.upload-icon {
    background: url(../images/magnifier.png) no-repeat 0 0 !important;
}
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
    position: absolute;
    right: 0;
    -moz-opacity: 0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
    position: absolute;
    right: 0;
    z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}

.x-grid3-td-topic b {
    font:normal 16px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    display:block;
}
.x-grid3-td-topic b i {
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
    color:#000;
}
.x-grid3-td-topic .x-grid3-cell-inner {
    white-space:normal;
}
.x-grid3-td-topic a {
    text-decoration:none;
}
.x-grid3-td-topic a:hover {
    text-decoration:underline;
}

.ext-ie .x-form-text,  {
    height:22px;
    line-height:18px;
    margin: 0px 0px;
    vertical-align:middle;
}
/*
.x-superboxselect {position:relative; height: auto !important; min-height:18px;margin: 0px; overflow: hidden; padding:2px; display:block; outline: none !important;}
.x-superboxselect ul {overflow: hidden; cursor: text;}
.x-superboxselect-display-btns {padding-right: 33px !important;}
.x-superboxselect-btns {position: absolute; right: 0px; top: 0; overflow:hidden; padding:0px;}
.x-superboxselect-btns div {float: left; width: 17px; height: 22px; margin-top: 0px;}
.x-form-focus .x-superboxselect-btn-clear {background: url(../images/clearfocus.png) no-repeat scroll left 0px;}
.x-form-invalid .x-superboxselect-btn-clear {background: url(../images/clearinvalid.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-clear {background: url(../images/clear.png) no-repeat scroll left 0px;}
.x-form-focus .x-superboxselect-btn-expand {background: url(../images/expandfocus.png) no-repeat scroll left 0px;}
.x-form-invalid .x-superboxselect-btn-expand {background: url(../images/expandinvalid.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-expand {background: url(../images/expand.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-over {background-position: left -22px}
.x-superboxselect-btn-hide {display:none;}
.x-superboxselect li {float: left; margin-left: 1px; margin-bottom:1px;padding: 0;line-height: 1.2em;}
.x-superboxselect-stacked li {float: none !important;}
.x-superboxselect-input input { border: none; outline: none; margin-top: 1px; margin-bottom: 1px;}
body.ext-ie .x-superboxselect-input input {background: none; border: none; margin-top: 0px;}
.x-superboxselect-item {position: relative; border: 1px solid #CAD8F3; background-color: #DEE7F8; padding: 1px 15px 1px 2px !important; }
.x-superboxselect-item {-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; o-border-radius: 3px; khtml-border-radius: 3px;}
body.ext-ie7 .x-superboxselect-item {margin: 2px 1px 2px 1px; line-height: 1.2em; padding: 1px 17px 2px 2px !important;}
body.ext-ie6 .x-superboxselect-item {margin: 2px 1px 2px 1px; line-height: 1.2em; padding: 2px 19px 4px 2px !important;}
.x-superboxselect-item-hover {background: #BBCEF1; border: 1px solid #6D95E0;}
.x-superboxselect-item-focus {border-color: #598BEC; background: #598BEC; color: #fff;}
.x-superboxselect-item-close {background: url(../images/close.png) no-repeat scroll left 0px; border: none; cursor: default; font-size: 1px; height: 16px;padding:0; position: absolute; right: 0px; top: 0px; width: 13px;display:block;cursor:pointer;}
.x-superboxselect-item-close:hover, .x-superboxselect-item-close:active  { background-position: left -11px;}
.x-superboxselect-item-focus .x-superboxselect-item-close{ background-position: left -24px}
.x-item-disabled .x-superboxselect-item-close{ background-position: left -36px}
*/
.task {
    background-image:url(../images/cog.png) !important;
}
.task-folder {
    background-image:url(../images/folder_go.png) !important;
}

.x-form-remote-wait {
    width:100%;
    height:19px;
    width:19px;
    background-image:url(../images/wait.gif);
    background-repeat:no-repeat;
    display:block;
    position:absolute;
}

/* Left Panel background */
.x-vr-tab-panel {
    background: #CEDFF5;
    font: 11px Tahoma,arial,sans-serif;
}

/* Left Panel */
.x-vr-tab-panel-header {
    float: left;
}

/* Right Panel */
.x-vr-tab-panel-bwrap {
    border-left: 1px solid #99BBE8;
    float: right;
    /* padding: 32px 8px 8px 8px; */
    padding: 8px;
    background: #fff;
}

/* Menu Items */
.x-vr-tab-panel ul.x-tab-strip li {
    display: inline-block;
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.x-vr-tab-panel .x-tab-strip span.x-tab-strip-text,
/* Active Items */
.x-vr-tab-panel .x-tab-strip-active .x-tab-right span.x-tab-strip-text {
    padding: 5px 0px;
}

/* Top Margin */
.x-vr-tab-panel ul.x-tab-strip {
    margin-top: 8px;
}

.x-mask-loading-camemis div {
    text-align: center;
    width: 160px;
    padding:5px 0 23px;
    background: #fff url(../images/ajax-loader.gif) no-repeat center 23px;
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35px;
    top:10px;
    width:300px;
    z-index:20000;
}

/*
Kaom
*/

.x-tab-strip span.x-tab-strip-text {
    font: bold 11px Tahoma,arial,sans-serif;
}

.x-form-field {
    font:normal 11px Tahoma, arial, Tahoma, sans-serif;
}

.x-form-grow-sizer {
    font:normal 11px Tahoma, arial, Tahoma, sans-serif;
}

.x-form-item {
    font:normal 11px Tahoma, arial, Tahoma, sans-serif;
}

.x-form-invalid-msg {
    font:normal 11px Tahoma, arial, Tahoma, sans-serif;
}

.x-small-editor .x-form-field {
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.ext-webkit .x-small-editor .x-form-field {
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-fieldset legend {
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.x-btn{
    font:normal 11px t'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-btn button{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-grid3-row td, .x-grid3-summary-row td{
    font:normal 11px/13px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-grid3-hd-row td {
    font:normal 11px/15px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-grid3-topbar, .x-grid3-bottombar{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-grid-group-hd div.x-grid-group-title {
    font:bold 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}
.x-grid-empty {
    font:normal 11px Tahoma, arial, Tahoma, sans-serif;
}

.x-dd-drag-ghost{

    font: normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';

}

.x-tree-node{
    font: normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-date-inner th {
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';

}
.x-date-inner a {
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-date-mp td {
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-date-mp-btns button {

    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-tip .x-tip-mc {
    font: normal 11px Tahoma,arial,sans-serif;
}

.x-tip .x-tip-header-text {
    font: bold 11px Tahoma,arial,sans-serif;
}

.x-tip .x-tip-body {
    font: normal 11px Tahoma,arial,sans-serif;
}

.x-menu-list-item{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-box-mc {
    font:normal 11px Tahoma, arial, Tahoma, sans-serif;
}

.x-combo-list {

    font:normal 11px Tahoma, arial, Tahoma, sans-serif;
}

.x-combo-list-hd {
    font:bold 11px Tahoma, arial, Tahoma, sans-serif;
}

.x-combo-list-small {
    font:normal 11px Tahoma, arial, Tahoma, sans-serif;
}
.x-panel-header {

    font-weight:bold; 
    font-size: 11px;
    font-family: Tahoma,arial,verdana,sans-serif;
}

.x-panel-tl .x-panel-header {
    font:bold 11px Tahoma,arial,verdana,sans-serif;
}

.x-panel-mc {
    font: normal 11px Tahoma,arial,sans-serif;
}

.x-panel-fbar td,.x-panel-fbar span,.x-panel-fbar input,.x-panel-fbar div,.x-panel-fbar select,.x-panel-fbar label{
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-window-tl .x-window-header {

    font:bold 11px Tahoma,arial,verdana,sans-serif;
}

.x-window-mc {

    font: normal 11px Tahoma,arial,sans-serif;
}

.x-list-header-inner div em {
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-list-body dt em {
    font:normal 11px 'Helvetica','verdana','arial','sans-serif','KoPub Batang';
}

.x-window-dlg .ext-mb-textarea {
    font:normal 11px Tahoma,arial,sans-serif;
}

.x-tree {
    background:#000 !important;
}
.x-border-layout-ct {
    background:transparent;
}
.x-layout-split {
    background-color:transparent !important;
}
.x-tree-selected {
    border:1px dotted #a3bae9;
    background:#DFE8F6;
}
.x-tree-node .x-tree-selected a span{
    background:transparent;
    color:#15428b;
    font-weight:bold;
}

/**
@Veng....
*/
.ux-icon-combo-icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 18px;
    height: 14px;
}
.ux-icon-combo-input {
    padding-left: 25px;
}
.x-form-field-wrap .ux-icon-combo-icon {
    top: 3px;
    left: 5px;
}
.ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 3px 50% ! important;
    padding-left: 24px ! important;
}

.x-grid3-summary-row {
    border-left:1px solid #FFF;
    border-right:1px solid #FFF;
    color:#3764ac;
    background: #f1f2f4;
}
.x-grid3-summary-row .x-grid3-cell-inner {
    font-weight:bold;
    padding-bottom:4px;
}
.x-grid3-cell-first .x-grid3-cell-inner {
    padding-left:16px;
}
.x-grid-hide-summary .x-grid3-summary-row {
    display:none;
}
.x-grid3-summary-msg {
    padding:4px 16px;
    font-weight:bold;
}